<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa-Events</title>
    <link rel="icon" href="/images/AlfaEvents-icon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/admin/editEvent.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@200;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin/editEvent.css" />
  </head>

  <body>
    <div class="page position-fixed">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-4"></div>
      <div class="circle-5"></div>
      <div class="circle-6"></div>
    </div>
    <div
      class="container d-flex align-items-center justify-content-center min-vh-100"
    >
      <div class="content-box" style="width: 350px; max-width: 600px">
        <div class="card-header text-center mb-3">
          <h3 class="text-center mb-4">Edit Event</h3>
        </div>
        <form id="editEventForm" class="add-form">
          <div class="details-div" style="height: 500px">
            <ul class="list-unstyled">
              <li class="mb-3">
                <label class="form-label">Place</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter event place"
                  name="place"
                  value="<%= event.place %>"
                  required
                />
              </li>
              <li class="mb-3">
                <label class="form-label">Date</label>
                <input
                  type="date"
                  class="form-control"
                  name="date"
                  value="<%= event.formattedDate %>"
                  required
                />
              </li>
              <li class="mb-3">
                <label class="form-label">Reporting Time</label>
                <input
                  type="time"
                  class="form-control"
                  name="reportingTime"
                  value="<%= event.reportingTime %>"
                  required
                />
              </li>
              <li class="mb-3">
                <label class="form-label">Exit Time</label>
                <input
                  type="time"
                  class="form-control"
                  name="exitTime"
                  value="<%= event.exitTime %>"
                  required
                />
              </li>
              <li class="mb-3">
                <label class="form-label">Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter job title"
                  name="jobTitle"
                  value="<%= event.jobTitle %>"
                  required
                />
              </li>
              <li class="mb-3">
                <label class="form-label">Job Description</label>
                <textarea
                  class="form-control"
                  rows="3"
                  placeholder="Enter job description"
                  name="jobDescription"
                  required
                >
<%= event.jobDescription %></textarea
                >
              </li>
              <li class="mb-3">
                <label class="form-label">Employer Limit</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter employer limit"
                  name="employerLimit"
                  value="<%= event.employerLimit %>"
                  required
                />
              </li>
              <!-- <li class="mb-3">
                <label class="form-label">Expiration Time</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  name="expirationTime"
                  value="<%= event.formattedExpirationTime %>"
                  required
                />
              </li> -->
            </ul>
          </div>
          <div class="footer">
            <button
              type="button"
              class="btn"
              onclick="cancelEdit()"
              id="cancelBtn"
            >
              Cancel
            </button>
            <button type="submit" class="btn" id="editEventBtn">Update</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      function cancelEdit() {
        window.history.back();
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document
        .getElementById("editEventForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const form = event.target;
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries());

          // console.log("data sent to", data);
          try {
            const response = await fetch("/event/edit/<%= event._id %>", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });
            const result = await response.json();
            if (result.success) {
              Swal.fire({
                icon: "success",
                title: "Event Edited Successfully",
                text: result.message || "Event has been successfully edited",
                confirmButtonText: "OK",
              }).then(() => {
                if (result.redirectUrl) {
                  window.location.href = result.redirectUrl;
                }
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Event Edition Failed",
                text:
                  result.message ||
                  "Something went wrong while editing the event",
                confirmButtonText: "OK",
              });
            }
          } catch (error) {
            console.error(
              "An error occurred while editing the event:",
              error.message
            );
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "An error occurred while editing the event",
              confirmButtonText: "OK",
            });
          }
        });
    </script>
  </body>
</html>
